.app {
  font-family: sans-serif;
  min-width: 300px;
  max-width: 600px;
  margin: 10px auto;
  border: 10px solid cornflowerblue;
}

.app > * {
  margin: 10px;
}

.app button {
  margin: 10px 0;
}

.app table {
  width: 100%;
}

.app ul,
.app ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

